<div class="new-post">
  <%= form_for @post do |f| %>
    <div class= "write-blog">
      <%= f.label :blog %><br />
      <%= f.text_area :text, class: "form-control", autofocus: true %><br>
      <div><%= f.submit nil, class: "btn btn-primary" %></div>
    </div>
  <% end %>
</div>
